
<link href="{{ 'sliderStyle.css' | asset_url}}">
<script defer="defer" src="{{'frontScript.js' | asset_url }}"></script>
    hello all
   <div id="show_news">

   </div>
  
{% schema %}
    {
        "name":"show all news",
        "target":"section"
    }
 {% endschema %}